#border{
  border:solid black;
  background-color: #d2771a;
  z-index:3;
}

.frame{
  width: 85%;
  height: 500px;
  display: inline-block;
  margin: 3%;
  border: solid rgba(2,100,240);
  border-width:9px;
  border-radius: 3px;
}

#previous{
  position: absolute;
  left: 10%;
}

#next{
  position: absolute;
  right:20%;
}

button{
  top:470px;
  height:40px;
  width:110px;
  z-index:1;
  border-radius: 15px;
  outline: none;
  opacity: .98;
  color:white;
  border-color:black;
  font-family: Arial Black,Arial;
  font-size: 11px;
  background-color: rgba(40,40,100,.5);
}

button:hover{
  cursor: pointer;
  background-color: rgba(40,40,100,.9)
}

#text{
position: absolute;
z-index: 1;
color:#44443ef5;
background-color: #bddfeff2;
border:solid #cce89f;
border-radius:10px;
padding:7px;
font-family:'Arial Black',arial;
}

#pageNumber{
  position: absolute;
  top: 13%;
  right:17%;
  color:#64a75f;
  font-size: 50px;
  font-family:Impact,arial;
}

.buildBlocks{
  position: absolute;
  top:30%;
  left:50%;
}

.blocks{
  position: relative;
}

/*The following is CSS art for the Title*/
.title #block1{
  background-color: #691919;
  width:200px;
  height:300px;
  right:30px;
  bottom:50px;
  border-radius: 25px;
}
.title #block2{
  background-color: #561111;
  width:600px;
  height:60px;
  right:45%;
  bottom:75px;
  border-radius: 10px;
}
.title #block3{
  height:160px;
  width:80px;
  border-radius: 40px;
  background-color: black;
  bottom:270px;
}
.title #block4{
  height:100px;
  width:260px;
  background-color: #484c54;
  bottom:290px;
  right:130px;
}
.title #block5{
  height:90px;
  width:200px;
  background-color: #106410;
  transform:rotate(-45deg);
  bottom:420px;
  right:5px;
}
.title #block6{
  height:30px;
  width:200px;
  background-color: #106410;
  bottom:490px;
  left:100px;
}
.title #block7{
  height:160px;
  width:80px;
  border-radius: 40px;
  background-color: black;
  bottom:700px;
  left:20px;
}
.title .frame{
  background-color: #3a1111;
}
.title #text{
  font-size:50px;
  top: 30%;
  left:9%
}
/*-------------------------------Title*/


/*The following is CSS art for Page 1*/
.one #block1{
  background-color: red;
  height:60px;
  width: 60px;
  border-radius: 50%;
}
.one #block2{
  position: relative;
  bottom: 50px;
  left:10px;
  background-color: #fdd4a0;
  height:40px;
  width: 40px;
  border-radius: 50%;
}
.one #block4{
  position: relative;
  bottom:75px;
  height:30px;
  width:30px;
  position: relative;
  background-color: #fdd4a0;
}
.one #block5{
  position: relative;
  bottom:80px;
  left:14px;
  height:40px;
  width:18px;
  position: relative;
  background-color: red;
}
.one #block6{
  position: relative;
  bottom:70px;
  left:13px;
  height:20px;
  width:20px;
  border-radius: 50%;
  position: relative;
  background-color: red;
}

.one .frame{
  background-color: #fdd4a0;
}
.one #text{
  top: 30%;
  left:9%
}
/*---------------------------------1*/


/*The following is CSS art for Page 2*/
.two #block1{
  background-color:blue;
  height:40px;
  width: 40px;
}
.two .frame{
  background-color: #fdd4a0;
}
/*---------------------------------2*/
