.frame{
  width: 100px;
  height: 100px;
  margin: 20px;
  border: solid black;
}


.one{
  text-align: left;
}
.one .frame{
  background-color: blue;
}


.two{
  text-align: right;
}
.two .frame{
  background-color: red;
}
